.root {
 background-image: url('./../../assets/background2.jpg');
 background-origin: border-box;
 background-repeat: no-repeat;
 background-size: cover;
 background-position-y: center;
}

.rootFixed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.form {
    background-color: white;
    border: 1px solid rgb(230, 226, 226);
    border-radius: 2px;
    box-shadow: 1px;
   
}
.block {
    padding-top: 1em;
    position: absolute;
    width: 430px;
    background-color: white;
}
.block:nth-child(1) {
    z-index: 10;
}
.block:nth-child(2) {
    z-index: 5;
}
.block:nth-child(3) {
    z-index: 1;
}   
.animateHidden {
    opacity: 0;
}
.head h1{
    margin: 0.5em auto;
    height: 3em;
    width: 8em;
    background-position-y:60%;
    background-size: 200%;
    background-image: url('./../../assets/logo.png');
}
.head h2{
    font-size: 20px;
}
.headFixed {
    text-align: center;
}

.filedWrapper {
    margin: 2em 3.5em;
}
.field {
    margin: 0.7em 0em;
}
.field>input{
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    padding: 0.8em 0.5em;
    border: 1px solid rgb(236, 233, 233);
    border-radius: 2px;
}
.field>input[type='password'] {
    letter-spacing: 0.15em;
}
.btn {
    display: inline-block;
    width: 100%;
    padding: 0.8em;
    margin-top: 0.5em;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(43, 117, 202);
    outline: none;
}
.btn:hover {
    background-color: rgb(73, 133, 202);
}
.foot {

    background-color: rgb(236, 234, 229);
    padding: 1.25em;
}
.footFixed {
    text-align: center
}
.textBtn{
    color: rgb(73, 164, 194);
    cursor: pointer;
}
.block > h3 {
    padding: 0.5em 1em;
    margin-bottom: 0.8em;

}
.block > h4 {
    margin-left: 35px;
    font-size: 16px;
}
.informBlock {
    margin: 0em auto 1.5em;
    min-width: 430px;
    max-width: 600px;
}
.uploadRoot {
    margin: 5px 35px 12px;
}
.uploadImg {
    margin: 0px !important;
    height: 230px !important;
    width: calc(100% - 2px) !important;
}
.finishBtn {
    display: block;
    width: 2em;
    padding: 0.5em 2em;
    margin: 0.5em auto 0.8em;
}
.finishBtn:last-child {
    color: rgb(43, 117, 202);
    background-color: white;
    border: 1px solid rgb(43, 117, 202);
}
.btnArea {
    display: flex;
    justify-content: center;
    margin: 0px 4em 0.4em;
}
.quoteArea {
    width: 82%;
    height: 100px;
    margin-left: 2.5rem;
    margin-top: 1rem;
}