.root {
 background-image: url('./../../assets/background2.jpg');
 background-origin: border-box;
 background-repeat: no-repeat;
 background-size: cover;
 background-position-y: center;
}

.rootFixed {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
}
.form {
    background-color: white;
    border: 1px solid rgb(230, 226, 226);
    border-radius: 2px;
    box-shadow: 1px;
   
}
.formFixed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 430px;
}
.head h1{
    font-size: 36px;
}
.head h2{
    font-size: 20px;
}
.headFixed {
    text-align: center;
}

.filedWrapper {
    margin: 2em 3.5em;
}
.field {
    margin: 0.7em 0em;
}
.field>input{
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    padding: 0.8em 0.5em;
    border: 1px solid rgb(236, 233, 233);
    border-radius: 2px;
}
.field>input[type='password'] {
    letter-spacing: 0.15em;
}
.btn {
    display: inline-block;
    width: 100%;
    padding: 0.8em;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(43, 117, 202);
    outline: none;
}
.btn:hover {
    background-color: rgb(73, 133, 202);
}
.foot {

    background-color: rgb(236, 234, 229);
    padding: 0.5em;
}
.footFixed {
    text-align: center
}
.textBtn{
    color: rgb(73, 164, 194);
    cursor: pointer;
}