.root {
    
}
.rootFixed {
    padding:1em 5em;
    border-left: 2px solid #E9ECF3;
    border-bottom: 2px solid #E9ECF3;
    position: relative;
    list-style: none;
}
.date {
    padding: 10px 0px;
    font-size: 20px;
    position: absolute;
    width: 5em;
    top: 0px;
    left: 0px;
    transform: translate(-50%,-8%);
    background: white;
}
.activity {
    position: relative;
    margin: 15px 0px 15px 0px;
    padding: 10px 0px;
    border-bottom: 1px solid #E9ECF3;
}
.activity:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

/* .delete */

.inform{
    margin: 10px 0px;
}
.inform>p{
    margin: 5px 0px;
}
.inform span {
    width: 5em;
    display: inline-block;
}
.footBtns {
    margin: 10px 0px;
    font-size: 14px;
}
.footBtns>a{
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid gray;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
}
