@import './../../styles/variables';
.root {
    
}
.navFixed {
    position: fixed;
    top: 0px;
    width: 100%;
}
.navFixed > nav {
    margin: 0 auto;
    width: 70%;
    overflow: hidden;
}
.logo {
    float: left;
}
.link {
    box-sizing: border-box;
    position: relative;
    float: right;
    margin:0em 1em;
    padding: 1em 1em;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.link::after{
    content: ' ';
    display: inline-block;
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    border-bottom: 2px solid rgb(29, 106, 207);
    transition: all 0.2s ease-in-out;
}
.link:hover::after {
    left:0px;
    width: 100%;
}
.userSetting {
    background-image: url('./../../assets/user-setting.svg');
}
.body {
    padding-top: 50px;
}