.root {
    padding-top: 65px;
    width: 1275px;
    margin: 0 auto;
    overflow: hidden;
}
.root>* {
    float: left;
}
.visitingCard {
    margin: 0px 12px 12px 0px;
}

.root>main {
    margin-right: 255px;
}
.root>aside {
    margin-left: -256px;
}